// HarmonyOS字体 (BiliBili CDN)
@font-face{
    font-family: 'HarmonyOS_Regular';
    src: url(https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css);
}
@font-face{
    font-family: 'HarmonyOS_Medium';
    src: url(https://s1.hdslb.com/bfs/static/jinkela/long/font/medium.css);
}